@import "style/reset.less";

@import "style/animate.min.less";

figure {
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    display: grid;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&subset=cyrillic-ext');

body {
    position: relative;
    font-family: Roboto;
}

.hash {
    font {
        color: #7540EE;
    }
}

.all_projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 90px 0 0 0;
    .item {
        max-width: 48.719%;
        overflow: hidden;
        margin: 0 0 90px 0;
        display: block;
        .lazy_img {
            max-height: 410px;
            overflow: hidden;
            img {
                width: 100%;
                height: initial;
                transition: all 0.5s;
                overflow: hidden;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
        .title {
            font-style: normal;
            font-weight: 200;
            display: block;
            line-height: 61px;
            font-size: 48px;
            margin: 26px 0 0 0;
        }
        .hash {
            font-style: normal;
            font-weight: 300;
            line-height: 31px;
            font-size: 24px;
            margin: 15px 0 0 0;
        }
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 130px auto;
    a {
        transition: all 0.3s;
        font-style: normal;
        font-weight: 300;
        line-height: 23px;
        font-size: 18px;
        &:hover {
            color: #7540EE;
        }
        img {
            margin: 0 14px -2px 14px;
        }
    }
}

.mobile-menu-text {
    display: none;
    background: white;
    height: 100vh;
    top: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    
    text-align: center;
    a {
        font-weight: 300;
        line-height: 90px;
        font-size: 36px;
    }
}

.wrapp-roma {
    &.megamenu {
        max-width: 90%;
        margin: 0 auto;
        transition: all 0.8s;
        z-index: 200;
        &.scroll-up {
            position: fixed;
            width: 100%;
            max-width: 100%;
            background: #ffffff;
            top: 0;
            z-index: 100;
        }
    }
    .top-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 3%;
        &.scroll-up {
           padding: 18px 7%; 
        }
        .mobile-menu {
            display: none;
        }
        .logo {
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            font-size: 32px;
            font {
                color: #7B2BF2;
            }
        }
        ul {
            display: flex;
            li {
                display: block;
                margin: 0 0 0 63px;
                a {
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    font-size: 18px;
                    transition: all 0.3s;
                    &:hover {
                        color: #7540EE;
                    }
                }
            }
        }
    }
    .wrapper {
        max-width: 1170px;
        width: 97%;
        margin: 0 auto;
        .main-block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .description {
                font-style: normal;
                font-weight: 500;
                line-height: 31px;
                font-size: 24px;
            }
            .title {
                font-style: normal;
                font-weight: 500;
                line-height: 61px;
                font-size: 48px;
                margin: 86px 0 0 0;
            }
            .hash {
                font-style: normal;
                font-weight: 300;
                line-height: 31px;
                font-size: 24px;
                margin: 15px 0 0 0;
            }
        }
        .title_project {
            font-style: normal;
            font-weight: 200;
            line-height: 61px;
            font-size: 48px;
            text-align: center;
            width: 100%;
        }
        .personal_info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 75px 0 0 0;
            .personal {
                display: flex;
                justify-content: space-between;
                max-width: 490px;
                width: 90%;
                .item {
                    .title {
                        margin: 30px 0 0 0;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 31px;
                        font-size: 24px;
                        display: block;
                    }
                    .description {
                        font-style: normal;
                        font-weight: normal;
                        line-height: 23px;
                        font-size: 18px;
                        margin: 4px 0 0 0;
                        color: #C1C1C1;
                    }
                }
            }
            .all_info {
                width: 50%;
                .description {
                    white-space: pre;
                    white-space: pre-wrap;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 34px;
                    font-size: 24px;
                    max-width: 420px;
                    strong {
                        font-style: normal;
                        font-weight: normal;
                        line-height: 23px;
                        font-size: 18px;
                        color: #7540EE;
                        line-height: 10px;
                    }
                    a {
                        margin: 22px 0 0 0;
                        font-weight: normal;
                        line-height: 46px;
                        font-size: 36px;
                        display: block;
                        float: left;
                        position: relative;
                        &:after {
                            background: #7B2BF2;
                            content: "";
                            display: block;
                            height: 3px;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .copy {
            font-style: normal;
            font-weight: normal;
            line-height: 23px;
            font-size: 18px;
            text-align: center;
            color: #C1C1C1;
            margin: 130px 0 55px 0;
        }
    }
    .page {
        >.title {
            font-style: normal;
            font-weight: 200;
            line-height: 61px;
            font-size: 48px;
            margin: 90px 0 0 0;
        }
        .info {
            margin: 70px 0 0 0;
            display: flex;
            justify-content: space-between;
            >div {
                width: 50%;
            }
            .description {
                font-style: normal;
                font-weight: 300;
                line-height: 23px;
                font-size: 18px;
                .title {
                    font-style: normal;
                    font-weight: 500;
                    line-height: 31px;
                    font-size: 24px;
                    margin: 0 0 14px 0;
                }
            }
        }
        .content {
            margin: 110px 0 0 0;
            .full-img {
                margin: 0 !important;
                padding: 0 !important;
                img {
                    width: 100%;
                    height: initial;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .wrapp-roma .wrapper .personal_info .all_info {
        width: 44%;
        .description {
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 920px) {
    .wrapp-roma .wrapper {
        max-width: 89%;
        .main-block {
            flex-direction: column;
        }
        .title_project {
            margin: 80px 0 0 0;
        }
        .personal_info {
            flex-direction: column;
            max-width: 100%;
            .all_info {
                width: 90%;
                margin: 60px 0 0 0;
                .description {
                    font-size: 24px;
                    line-height: 18px;
                }
            }
        }
    }
    .all_projects .item {
        margin: 0 0 40px 0;
        .title {
            line-height: 28px;
            font-size: 24px;
            margin: 11px 0 0 0;
        }
        .hash {
            line-height: 19px;
            font-size: 14px;
            margin: 9px 0 0 0;
        }
    }
}

@media screen and (max-width: 760px) {
    .wrapp-roma .wrapper .personal_info .personal .item {
        width: 48%;
        img {
            width: 100%;
        }
        .title {
            margin: 15px 0 0 0;
            line-height: 20px;
            font-size: 16px;
        }
        .description {
            line-height: 17px;
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 760px) {
    .wrapp-roma {
        .wrapper {
            margin: 10px auto 0 auto;
           .personal_info {
               .all_info {
                  margin: 25px 0 0 0;
                }
            }
        }
        .top-menu .logo {
            font-size: 24px;
        }
    }
    .pagination a {
        font-weight: 300;
        line-height: 18px;
        font-size: 14px;
    }
    .wrapp-roma .page .info .description .title {
        line-height: 23px;
        font-size: 18px;
    }
    .wrapp-roma .page .info .description {
        font-weight: 300;
        line-height: 18px;
        font-size: 14px;
    }
    .wrapp-roma .wrapper .title_project {
        font-weight: 200;
        line-height: 31px;
        font-size: 24px;
        text-align: center;
        margin: 0;
    }
    div#all_projects {
        margin: 50px 0 0 0;
    }
    .all_projects {
        margin: 45px 0 0 0;
    }
    .wrapp-roma .wrapper .copy {
        font-weight: normal;
        line-height: 18px;
        font-size: 14px;
        text-align: center;
    }
    .wrapp-roma .wrapper .personal_info {
        margin: 40px 0 0 0;
    }
    .wrapp-roma .wrapper .personal_info .all_info .description {
        line-height: 30px;
        font-size: 18px;

        a {
            font-size: 24px;
        }
    }
    #menu-mainmenu-1 {
        display: none;
    }
    .all_projects .item {
        max-width: 100%;
    }
    .main-block .left img {
        max-width: 100%;
        height: initial;
    }
    .wrapp-roma .wrapper .main-block .description {
        line-height: 23px;
        font-size: 18px;
        margin: 30px 0 0 0;
    }
    .wrapp-roma .wrapper .main-block .title {
        line-height: 31px;
        font-size: 24px;
        margin: 32px 0 0 0;
    }
    .wrapp-roma .wrapper .main-block .hash {
        font-style: normal;
        font-weight: 300;
        line-height: 31px;
        font-size: 24px;
        margin: 15px 0 0 0;
        font-weight: 300;
        line-height: 18px;
        font-size: 14px;
    }
    .wrapp-roma .page>.title {
        margin: 40px 0 0 0;
        font-weight: 200;
        line-height: 31px;
        font-size: 24px;
    }
    .wrapp-roma .page .info {
        margin: 30px 0 0 0;
        flex-direction: column;
    }
    .wrapp-roma .page .info>div {
        width: 100%;
        margin: 30px 0 0 0;
        line-height: 18px;
        font-size: 14px;
        .title {
            line-height: 23px;
            font-size: 18px;
        }
    }
    .pagination {
        max-width: 100%;
        margin: 100px auto;
    }
    .wrapp-roma .wrapper .copy {
        margin: 60px 0 55px 0;
    }
    .wrapp-roma .top-menu .mobile-menu {
        display: block;
        position: relative;
        z-index: 10;
        width: 24px;
        height: 23px;
        > div {
            width: 100%;
            height: 2px;
            position: absolute;
            background: black;
            transition: all 0.7s;
            &:nth-child(1){
                top: 0px;
            }
            &:nth-child(2){
                top: 7px;
            }
            &:nth-child(3){
                top: 14px;
            }
        }
        &.active{
            > div {
                &:nth-child(1){
                    top: 8px;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    width: 0%;
                }
                &:nth-child(3){
                    top: 8px;
                    transform: rotate(-45deg);

                }
            }
        }
    }

    // .mobile-menu-text{
    //     display: block;
    // }
}

.anime {
    transition: all 1s;
}
  
